body{
    
    background-color: lightgrey;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1634655377962-e6e7b446e7e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
    background-size: cover;
} 

.div1{
    text-align:center;
    border:solid 5px;
    border-radius: 15px 15px 15px 15px;
    border-color: rgb(244, 102, 123);
    background-color:rgb(225, 153, 98);

}

.navbar {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background-color:black;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 rgb(107, 66, 45);
  }
  
.navbar:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 rgb(244, 102, 123);
  }
  
.navbar:active {
    transform: scale(0.9);
  }

.header1 {
    margin-left: 641px;
    border-radius: 5px 5px 5px 5px;
    text-align:center;
    border: black;
    background-color: black;
    color: snow;
    position: absolute;
}

.header2 {
    text-align:justify;
    border: black;
    position: inherit;
    background-color: black;
    color: snow;
    border-radius: 5px 5px 5px 5px;
    
}

.header3 {
    text-align:justify;
}